/* 解除容器限制 */

.book .book-body .page-wrapper .page-inner {
    max-width: 95% !important;
    min-height: 100vh !important;
    /* 新增高度自适应 */
}


/* SVG画布自适应 */

.mermaid svg {
    width: 100% !important;
    height: auto !important;
    overflow: visible !important;
    min-height: 300px;
    /* 设定最小渲染高度 */
}


/* 节点容器优化 */

.mermaid foreignObject div {
    white-space: pre-wrap !important;
    padding: 12px !important;
    line-height: 1.6 !important;
}